body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #5A018D;
    color: white;
    padding: 20px;
    text-align: center;
}

    header img {
        max-width: 100px;
        float: right;
    }

.slogan {
    font-style: italic;
    font-size: 1.2em;
    margin-top: 10px;
}

main {
    padding: 20px;
}

.presentation {
    text-align: center;
}

.program {
    margin-top: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
